@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Nunito&display=swap");

:root {
    --primary-color: #7765E3;
    --secondary-color: #26A1B6;
    --accent1-color: #FFF490;
    --accent2-color: #92FF43;
    
    --heading-font: "Poppins", serif;
    --paragraph-font: "Nunito", serif;

    --nav-background-color: #FFFFFF;
    --nav-link-color: #26A1B6;
    --nav-hover-link-color: #FFF490;
    --nav-hover-background-color: #FFFFFF;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

div {
    height: auto;
    width: auto;
  }


h1 {
    position: absolute;
    text-align: center;
}

footer {
    margin-top: 15px;
    text-align: left;
    display: inline;
}

img {
    width: 250px;
    height: auto;
    padding: 10px;
    display: block;
}   

footer img {
    display: inline;
    width: 60px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

